@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'JetBrains Mono', monospace;
    word-spacing: -5px;
    letter-spacing: -1px;
}
/* Hero Section Styles */
.hero-section{
    background: #fceef1;
    background-image: url('');
    display: flex;
}
.hero-info{
    margin: 15% 5%;
    /* max-width: 600px; */
}
.hero-title{
    color: #272727;
    font-size: 54px;
    font-weight: 800;
    line-height: 75px;
}
.hero-description{
    color: #272727;
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0;
}
.primary-button{
    padding: 20px 40px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #E55473;
}
