@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'JetBrains Mono', monospace;
    word-spacing: -5px;
    letter-spacing: -1px;
}
/* Hero Section Styles */
.hero-section{
    background: #fceef1;
    display: flex;
    margin-bottom: 80px;
}
.hero-info{
    margin: 15% 5%;
}
.hero-title{
    color: #272727;
    font-size: 54px;
    font-weight: 800;
    line-height: 75px;
}
.hero-description{
    color: #272727;
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0;
}
.primary-button{
    padding: 20px 40px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #E55473;
}
/* Feature Section Style */
.featured-section{
    margin: 0 200px;
}
.featured-info{
    width: 750px;
    margin: 60px auto;
}
.featured-title{
    text-align: center;
    font-size: 32px;
    color: #272727;
}
.featured-description{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
.featured-image-info{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.image{
    width: 250px;
    height: 300px;
}
.featured-image-01{
    background: #f2dee7;
    border-radius: 300px 300px 0px 0px;
    width: 350px;
    height: 360px;
    padding: 60px 30px; 
}
.featured-image-02{
    background: #d9eff1;
    border-radius: 300px 300px 0px 0px;
    width: 350px;
    height: 360px;
    padding: 60px 30px; 
}
.featured-image-03{
    background: #e3ebdb;
    border-radius: 300px 300px 0px 0px;
    width: 350px;
    height: 360px;
    padding: 60px 30px; 
}

.img-caption{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}
/* Service Section Style*/
.service-container{
    display: flex;
    gap: 50px;
    margin: 100px 150px 100px 200px;
    padding: 20px 0px 20px 80px;
    background: #f4f4f4;
}
.service-image{
    text-align: center;
}

/* Sale Section Style */
.sale-section{
    background: #fceef1;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    margin-bottom: 80px;
}
.sale-info{
    margin: 15% 0%;
    text-align: center;
}
.sale-title{
    color: #272727;
    font-size: 32px;
    font-weight: 800;
}
.sale-description{
    color: #272727;
    font-size: 18px;
    width: 700px;
    line-height: 28px;
}
.sale-button{
    margin-top: 10px;
    padding: 20px 40px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #E55473;
}